loguru
Faker>=6.5.0
protobuf==3.15.3
requests
google==3.0.0
httpx
fastapi
uvicorn[standard]
aiofiles
pytest
pytest-asyncio
pymongo
mimesis
flaky
pytest-xdist
pandas
boto3
numpy
typing
gitpython
pre-commit
flake8-docstrings
flake8-bugbear
